.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/


# Storybook
storybook-static/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*
!.env.example
